{% extends 'base.html' %}

{% block title %}{{article.title}}{% endblock title %}


{% block content %}
<div class="detail-header">
    <h1 class="title-h1">{{article.section}}</h1>
    <strong class="author-name">{{article.author}} | On {{article.created_on}}</strong>
</div>
<div class="detail-container">
    <p>{{article.body}}</p>
{% if user.is_authenticated %}
    <div class="detail-controls">
        <a href="{% url 'article_edit' article.id %}" >Edit Post</a>
        <a href="{% url 'article_delete' article.id %}" class="delete">Delete Post</a>
    </div>
{% endif %}
</div>
{% endblock content %}