{% extends 'base.html' %} 

{% block title %}Posts{% endblock title %}

{% block content %} 
    <h1>{{article.title}}</h1>
    <strong>By {{article.author}} | On {{ article.created_on}} </strong>
    <p>{{article.body}}</p>
    {% if user.is_authenticated %}
    <div class="detail-btn">
        <p><a class="btn btn-primary" href="{% url 'article_edit' post.id %}">Edit</a></p>
        <p><a class="btn btn-danger" href="{% url 'article_delete' post.id %}">Delete</a></p>
    </div>
    {% endif %}
{% endblock content %} 